<div class="row container-app">
  <div class="col-12 ">
    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarNav">
        <div class="col-12 justify-content-between" [ngClass]="{'d-flex':flexCenter}">
          <div class="col-12 col-md-2 " [ngClass]="{'mt-3':!flexCenter}">
            <img src="https://clipfiesta.s3.ap-south-1.amazonaws.com/icons/icon-Text.png" alt="">
          </div>
          <div class="col-12 col-md-8 d-flex " [ngClass]="{'justify-content-center':flexCenter,'mt-3':!flexCenter}">
            <div class="nav-search-bar">
              <input type="search" id="form1" />
              <button type="button" class="">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>

          <div class="col-12 col-md-2 d-flex align-items-center"
            [ngClass]="{'mt-3':!flexCenter,'justify-content-end':flexCenter}">
            <i class="fa-solid fa-bell"></i>
          </div>

        </div>
      </div>
    </nav>
  </div>
</div>