* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(
    99.88deg,
    #ececfd 2.28%,
    #ececfd 2.29%,
    #f3ecec 20.15%,
    #f3f3fc 38.02%,
    #fae2f1 55.9%,
    #dbe6fe 73.77%,
    #ebeffe 91.65%
  );
}
